@import "../../src/scss/utilities/variables";
@import "../../src/scss/utilities/mixins";

.home-hero__inner {
  display: flex;
}

.home-hero__background-image {
  @include absolute_fill;
  @include object_fit_cover;
  z-index: 1;
}

.home-hero__body {
  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  position: relative;

  .lyt-Body & {
    @include break-min($lg) {
      min-height: 600px;
    }
  }
}

.home-hero__content {
  width: 100%;
  color: #fff;
  padding: 25px;

  position: relative;
  z-index: 2;

  @include break-min($xs) {
    max-width: 750px;
  }

  & *:last-child {
    margin-bottom: 0;
  }

  .home-hero_--dark & {
    color: $color-secondary;
  }
}

.home-hero__title {
  color: currentColor;
  margin: 0 auto $item-padding * 2;
  text-transform: uppercase;
}

.home-hero__text {
  font-weight: $fw-regular;
  margin-bottom: $item-padding * 2;
}
