@import "../../src/scss/utilities/variables";
@import "../../src/scss/utilities/mixins";

.featured-link__column {
  width: 75%;

  &:last-child {
    margin-left: auto;
    padding-top: 50px;
    padding-bottom: 50px;

    position: relative;
    z-index: 2;
  }
}

.featured-link__image-wrapper {
  width: 75%;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.featured-link__image,
.block-editor__container .featured-link__image {
  @include absolute_fill;
  @include object-fit-cover;
}

.featured-link__content {
  background-color: white;
  padding: $item-padding 0 $item-padding $item-padding;
}

.featured-link__title,
.editor-styles-wrapper .featured-link__title {
  margin-top: 0;
  text-transform: uppercase;
}

.featured-link__link {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}
